.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("../../public/image/IMG_0427.JPG");
  background-size: cover;
  background-position: center;
}
