.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 960px;
    /* max-height: 980px; */
    margin-top: -100px;
};
.login-input {
    background-color: aqua;
}
.input-title {
    margin-right: 10px;
}
.username, .user-password {
margin-top: 10px;
}
.checkbox {
    margin-left: 100px;
    margin-top: 10px;
}
.input-username, .input-password {
    width: 260px;
    height: 30px;
    border-color: coral;
    border-radius: 10px;
}
.submit-button {
    width: 150px;
    padding: 10px;
    border: none;
    background-color: chartreuse;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 70px;
    border-radius: 15px;
}