.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("../../../public/image/IMG_0427.JPG");
    background-size: cover;
    background-position: center;
}
.login-table {
    background-color: rgba(74, 235, 221, 0.63);
    padding: 0px 60px;
    border-radius: 10px;
}
.login-title {
    color: rgb(77, 1, 77);
    text-align: center;
}

.input-username, .input-password {
    display: flex;
    flex-direction: column;
    width: 200px;
}